@using MuscleTherapyJournal.Domain.Enum
@using MuscleTherapyJournal.Domain.Search
@using PagedList
@using PagedList.Mvc
@*@model PagedList.PagedList<MuscleTherapyJournal.Domain.Model.Customer>*@
@model MuscleTherapyJournal.Models.SearchViewModel

@if (Model.ResultCustomerSearch.Any())
{
    <hr />
        
    
    <div class="row">
        <div class="col-md-12">
            <div class="vcenter">
                Viser @Model.ResultCustomerSearch.FirstItemOnPage til @Model.ResultCustomerSearch.LastItemOnPage av totalt @Model.ResultCustomerSearch.TotalItemCount kunder.

            </div>

            <div class="pull-right">
                @Html.PagedListPager((IPagedList)Model.ResultCustomerSearch, page => 
                    Url.Action("SearchResult", new
                    {
                        page, 
                        pageSize = Model.ResultCustomerSearch.PageSize,
                        changedPage = true,
                        pageSearchType = (int) SearchType.CustomerSearch,
                        customerName = Model.SearchParameters.CustomerName,
                        phoneNumber = Model.SearchParameters.PhoneNumber,
                        customerNumber = Model.SearchParameters.CustomerNumber,
                        treatmentFromDate = Model.SearchParameters.TreatmentFromDate,
                        treatmentToDate = Model.SearchParameters.TreatmentToDate,
                        profession = Model.SearchParameters.Profession
                    }))
            </div>
        </div>
    </div>

    <table class="table table-striped" data-sort-name="customernumber" data-sort-order="desc">
        <thead>
            <tr>
                <th data-field=""></th>
                <th data-field="customernumber" data-sortable="true">Kundenr</th>
                <th data-field="firstname" data-sortable="true">Fornavn</th>
                <th data-field="lastname" data-sortable="true">Etternavn</th>
                <th data-field="phonenumber" data-sortable="true">Telefonnummer</th>
                <th data-field="birthday" data-sortable="true">Fødselsdato</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var customer in Model.ResultCustomerSearch)
            {
                <tr>
                    <td>
                        <a title="Ny behandling" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                           href="@Url.Action("Treatment", "Treatment", new { customerId = customer.CustomerId })">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>

                    <td>@customer.CustomerId</td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.MobilePhoneNumber</td>
                    <td>@customer.BirthDay.GetValueOrDefault().ToString("dd.MM.yyyy")</td>
                    <td class="right">
                        <a title="Endre kunde" class="btn btn-success" data-toggle="tooltip" data-placement="top"
                           href="@Url.Action("UpdateCustomer", "Customer", new { customerId = customer.CustomerId })">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br/>
    <div class="alert alert-info" role="alert">Kunne ikke finne kunder på dine søkekriterier</div>
}