@using MuscleTherapyJournal.Domain.Enum
@using PagedList.Mvc
@model MuscleTherapyJournal.Models.SearchViewModel

@if (Model.ResultTreatmentSearch.Any())
{
    <hr />

    <div class="row">
        <div class="col-md-12">

            <div class="vcenter">
                Viser @Model.ResultTreatmentSearch.FirstItemOnPage til @Model.ResultTreatmentSearch.LastItemOnPage av totalt @Model.ResultTreatmentSearch.TotalItemCount behandlinger.

            </div>

            <div class="pull-right">
                @Html.PagedListPager(Model.ResultTreatmentSearch, page => Url.Action("SearchResult",
            new
            {
                page,
                pageSize = Model.ResultTreatmentSearch.PageSize,
                changedPage = true,
                pageSearchType = (int)SearchType.TreatmentSearch,
                customerName = Model.SearchParameters.CustomerName,
                phoneNumber = Model.SearchParameters.PhoneNumber,
                customerNumber = Model.SearchParameters.CustomerNumber,
                treatmentFromDate = Model.SearchParameters.TreatmentFromDate,
                treatmentToDate = Model.SearchParameters.TreatmentToDate,
                profession = Model.SearchParameters.Profession
            }))

            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Navn</th>
                <th>Telefonnummer</th>
                <th>Fødselsdato</th>
                <th>Behandling dato</th>
                <th>Yrke</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var treatmentCustomer in Model.ResultTreatmentSearch)
            {
                <tr>
                    <td>
                        <a title="Ny behandling" class="btn btn-primary" href="@Url.Action("Treatment", "Treatment", new { customerId = @treatmentCustomer.CustomerId })">
                            <i class="fa fa-plus"></i>
                        </a>
                    </td>

                    <td>@treatmentCustomer.CustomerName</td>
                    <td>@treatmentCustomer.MobilePhoneNumber</td>
                    <td>@treatmentCustomer.BirthDay.GetValueOrDefault().ToString("dd.MM.yyyy")</td>
                    <td>@treatmentCustomer.TreatmentCreatedDate.ToString("dd.MM.yyyy")</td>
                    <td>@treatmentCustomer.Profession</td>
                    <td class="right">
                        <a title="Endre behandling" class="btn btn-success" data-placement="top" rel="tooltip"
                           href="@Url.Action("Treatment", "Treatment", new { treatmentId = @treatmentCustomer.TreatmentId })">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <div class="alert alert-info" role="alert">Kunne ikke finne noen behandlinger på dine søkekriterier</div>
}
