@using PagedList
@using PagedList.Mvc
@model MuscleTherapyJournal.Models.SearchViewModel

@{
    ViewBag.Title = "Søk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
</div>


@using (Html.BeginForm("SearchResult", "Search", FormMethod.Get, new {id = "searchForm"}))
{
    @Html.HiddenFor(model => model.SearchParameters.SearchType)
    <div class="container">
        @Html.ValidationSummary(true)
        
        <h1>Søkeregister</h1>
        <ul class="nav nav-tabs" id="searchTabs" role="tablist">
            <li role="presentation" class="active">
                <a id="searchTypeCustomer" href="#" aria-controls="searchCustomer" role="tab" data-toggle="tab">Kunde</a>
            </li>
            <li role="presentation">
                <a id="searchTypeTreatment" href="#" aria-controls="searchTreatment" role="tab" data-toggle="tab">Behandling</a>
            </li>
        </ul>

        <br />

        <div class="row">
            <div class="col-md-1">
                @Html.LabelFor(model => model.SearchParameters.CustomerName, new { @class = "control-label" })
            </div>
            
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.SearchParameters.CustomerName, new { @class = "form-control" })
            </div>
            
            <div class="search-type-customer">
                <div class="col-md-1">
                    @Html.LabelFor(model => model.SearchParameters.Profession, new { @class = "control-label" })
                </div>

                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.SearchParameters.Profession, new { @class = "form-control" })
                </div>
            </div>
            
            <div class="search-type-treatment">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.SearchParameters.CustomerNumber, new { @class = "control-label" })
                </div>

                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.SearchParameters.CustomerNumber, new { @class = "form-control" })
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-1">
                @Html.LabelFor(model => model.SearchParameters.PhoneNumber, new { @class = "control-label" })
            </div>

            <div class="col-md-3">
                @Html.TextBoxFor(model => model.SearchParameters.PhoneNumber, new { @class = "form-control" })
            </div>
            
            
            
            <div class="search-type-treatment">
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.SearchParameters.TreatmentFromDate, new
                    {
                        placeholder = "Fra dato",
                        id = "from",
                        @class = "form-control datefield"
                    })
                </div>

                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.SearchParameters.TreatmentToDate, new
                    {
                        placeholder = "Til dato",
                        id = "to",
                        @class = "form-control datefield"
                    })
                </div>
            </div>

        </div>
        
        <div class="row">
            <div class="col-md-3">
                <div class="btn-group">
                    <button id="searchClick" class="btn btn-primary" title="Søk" data-toggle="tooltip" data-placement="top">
                        <i class="fa fa-search"></i>
                        Søk
                    </button>
                </div>
            </div>
        </div>
        
        @if (Model.ResultCustomerSearch != null)
        {
            @Html.Partial("_ResultCustomerSearch", Model)
        }
        
        @if (Model.ResultTreatmentSearch != null)
        {
            @Html.Partial("_ResultTreatmentSearch", Model)
        }
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {

        $(".search-type-treatment").hide();

        if ($("#SearchParameters_SearchType").val() == 1) {
            enableSearchTypeCustomer();
        }

        if ($("#SearchParameters_SearchType").val() == 2) {
            enableSearchTypeTreatment();
            $("#searchTabs li:eq(1) a").tab("show");
        }

        $(function () {
            $("#from").datepicker("option", "onClose", function(selectedDate) {
                $("#to").datepicker("option", "minDate", selectedDate);
            });

            $("#from").datepicker("option", "defaultDate", "+1w");
            $("#from").datepicker("option", "changeMonth", "true");

            $("#to").datepicker("option", "defaultDate", "+1w");
            $("#to").datepicker("option", "changeMonth", "true");

            $("#to").datepicker("option", "onClose", function (selectedDate) {
                $("#from").datepicker("option", "maxDate", selectedDate);
            });
        });

        $(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $('#searchTabs a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            if (e.target.id == "searchTypeCustomer") {
                enableSearchTypeCustomer();
            }

            if (e.target.id == "searchTypeTreatment") {
                enableSearchTypeTreatment();
            }
        });

        @*$("#searchClick").click(function () {
            var model = @Html.Raw(Json.Encode(Model.SearchParameters));

            console.log("Hei");
            $.ajax({
                url: '@Url.Action("SearchResult", "Search")',
                type: 'GET',
                data: JSON.stringify(model),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset=utf-8',
            });
        });*@

    });

    function enableSearchTypeCustomer() {
        $(".search-type-customer").show();
        $(".search-type-treatment").hide();
        $("#SearchParameters_SearchType").val(1);
    }

    function enableSearchTypeTreatment() {
        $(".search-type-customer").hide();
        $(".search-type-treatment").show();
        $("#SearchParameters_SearchType").val(2);
    }

    



</script>


