@using System.Globalization
@using MuscleTherapyJournal.Domain.Model
@model MuscleTherapyJournal.Models.TreatmentViewModel

@{
    ViewBag.Title = "Behandling";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Treatment", "Treatment", FormMethod.Post, new { id = "treatmentForm" }))
{
    @Html.HiddenFor(model => model.Treatment.TreatmentId)
    @Html.HiddenFor(model => model.Treatment.CustomerId)

    <div class="container">
        <div class="page-header">
            <h1>Journal for @Model.Treatment.Customer.CustomerName
                <small class="pull-right form-inline">
                    @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.CreatedDate, new
                    {
                        @class = "datefield form-control",
                    })
                </small>
            </h1>
        </div>
    </div>
    
    <div class="container">
        @if (!string.IsNullOrWhiteSpace(Model.Treatment.Customer.CustomerName))
        {
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Treatment.Customer.BirthDay, new { @class = "control-label" })
                </div>
                <div class="col-md-2">
                    @Model.Treatment.Customer.BirthDay.GetValueOrDefault().ToString("dd. MMMM yyyy", CultureInfo.CreateSpecificCulture("no"))
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Treatment.Customer.Age, new { @class = "control-label" })
                </div>
                <div class="col-md-2">
                    @Model.Treatment.Customer.Age
                </div>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Treatment.Customer.MobilePhoneNumber) || !string.IsNullOrWhiteSpace(Model.Treatment.Customer.Address))
        {
            <div class="row">
                @if (!string.IsNullOrWhiteSpace(Model.Treatment.Customer.MobilePhoneNumber))
                {
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Treatment.Customer.MobilePhoneNumber, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        @Model.Treatment.Customer.MobilePhoneNumber
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Treatment.Customer.Address))
                {
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Treatment.Customer.Address, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        @Model.Treatment.Customer.Address
                    </div>
                }
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Treatment.Customer.Profession) || !string.IsNullOrWhiteSpace(Model.Treatment.Customer.Email))
        {
            <div class="row">
                @if (!string.IsNullOrWhiteSpace(Model.Treatment.Customer.Profession))
                {
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Treatment.Customer.Profession, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        @Model.Treatment.Customer.Profession
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Treatment.Customer.Email))
                {
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Treatment.Customer.Email, new { @class = "control-label" })
                    </div>
                    <div class="col-md-6">
                        @Model.Treatment.Customer.Email
                    </div>
                }
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.FullAddress))
        {
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Treatment.Customer.CustomerName, new { @class = "control-label" })
                </div>
                <div class="col-md-3">
                    @Model.Treatment.Customer.Address, @Model.Treatment.Customer.ZipCode
                </div>
            </div>
        }
        
        <br/>

        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.LabelFor(model => model.Treatment.AfflictionAreas, new {@class = "control-label"})

                        <div class="btn-group pull-right">
                            <button title="Undo" type="button" id="undoButton"><img src="/Images/Undo-icon.png" class="canvas-toolbar"/></button>
                            <button title="Redo" type="button" id="redoButton"><img src="/Images/Redo-icon.png" class="canvas-toolbar"/></button>
                            <button title="Lite kryss" type="button" id="smallCrossButton"><img src="/Images/CrossIcon.png" class="canvas-toolbar-cross-small"/></button>
                            <button title="Stort kryss" type="button" id="largeCrossButton"><img src="/Images/CrossIcon.png" class="canvas-toolbar-cross-large"/></button>
                        </div>
                    </div>
                    <canvas id="treatmentCanvas"></canvas>
                    @if (Model.HasOldAfflications)
                    {
                        <div class="panel-footer">
                            <div class="checkbox">
                                @Html.CheckBox("AllAfflictions", new {id = "ShowAllAfflictions" }) Vis alle tidligere behandlinger
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.LabelFor(model => model.Treatment.TreatmentNotes, new { @class = "control-label" })
                    </div>

                    @Html.TextAreaFor(model => model.Treatment.TreatmentNotes, new
                    {
                        @placeholder = "Legg til behandling",
                        @class = "form-control textarea",
                        @spellcheck = "false",
                        @style = "font-family: Calibri; width: 100%; max-height: 472px; min-height: 472px;"
                    })
                </div>

                @*<div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.LabelFor(model => model.Treatment.Observations, new { @class = "control-label" })
                    </div>

                    @Html.TextAreaFor(model => model.Treatment.Observations, new
                    {
                        @placeholder = "Legg til Observasjoner",
                        @spellcheck = "false",
                        @class = "form-control textarea",
                        @style = "font-family: Calibri; min-width: 100%; max-height: 102,5px; min-height: 102px;"
                    })
                </div>*@
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.LabelFor(model => model.Treatment.Anamnesis, new { @class = "control-label" })
                    </div>

                    @Html.TextAreaFor(model => model.Treatment.Anamnesis, new
                    {
                        @placeholder = "Legg til Anamnese",
                        @spellcheck = "false",
                        @class = "form-control textarea",
                        @style = "font-family: Calibri; min-width: 100%; max-height: 102px; min-height: 102px;"
                    })
                </div>
            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.LabelFor(model => model.Treatment.Observations, new { @class = "control-label" })
                    </div>

                    @Html.TextAreaFor(model => model.Treatment.Observations, new
                    {
                        @placeholder = "Legg til Observasjoner",
                        @spellcheck = "false",
                        @class = "form-control textarea",
                        @style = "font-family: Calibri; min-width: 100%; max-height: 102px; min-height: 102px;"
                    })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-block">
                    <span class="pull-right">
                        <button class="btn btn-default">Avbryt</button>
                        <input class="btn btn-primary" type="submit" id="saveTreatment" name="submitbutton1" value="Lagre Behandling" />
                    </span>
                </div>
            </div>
        </div>
        @Html.Partial("_ModalTreatment")


    </div>


}

<script type="text/javascript">
    var imageUrl
        = "<%: Url.Action('GetBase64Image', 'Image') %>";
    var imageUrl = '@Url.Action("GetBase64Image", "Image")';
    var imgs = null;
    var drawnCrosses = [];
    var removedCrosses = [];
    var leftButtonClick, rightButtonClick;
    leftButtonClick = 0;
    rightButtonClick = 2;


    $("#treatmentForm").submit(function (event) {
        console.log("Handler for .submit() called.");
        event.preventDefault();
    });

    $("#saveTreatment").click(function () {

        $('#treatmentModal').modal('show');

        var afflication = JSON.stringify(drawnCrosses);
        //var observations = JSON.stringify($("#Treatment_Observations").val().split('\n'));
        //var anamnesis = JSON.stringify($("#Treatment_Anamnesis").val().split('\n'));
        var observations = $("#Treatment_Observations");
        var anamnesis = $("#Treatment_Anamnesis");
        var treatmentNotes = $("#Treatment_TreatmentNotes");

        console.log(treatmentNotes);

        var observationsAsJson = JSON.stringify(observations.val().substr(0, observations.selectionStart).split("\n"));
        var anamnesisAsJson = JSON.stringify(anamnesis.val().substr(0, anamnesis.selectionStart).split("\n"));
        var treatmentNotesAsJson = JSON.stringify(treatmentNotes.val().substr(0, treatmentNotes.selectionStart).split("\n"));
        console.log(treatmentNotesAsJson);
        var treatmentId = $("#Treatment_TreatmentId").val();
        var customerId = $("#Treatment_CustomerId").val();

        console.log(afflication);

        $.ajax({
            type: "POST",
            url: "/api/treatment/savetreatment/",
            data: {
                Afflication: afflication,
                Observations: observationsAsJson,
                Anamnesis: anamnesisAsJson,
                TreatmentNotes: treatmentNotesAsJson,
                TreatmentId: treatmentId,
                CustomerId: customerId
            }
        })
        .done(function (data) {
            console.log("Sucess " + data);
                if (parseInt(data) > 0) {
                    window.location.href = "http://journal.no/Treatment/Treatment?treatmentId=" + data;
                } else {
                    window.location.reload();
                }
            })
        .fail(function (error) {
            console.log("Noe gikk galt: ", error);
        });

    });

    $("#ShowAllAfflictions").click(function() {
        var showAfflications = $("#ShowAllAfflictions");

        var oldPersistedCrosses = @Html.Raw(Json.Encode(Model.OldAfflications));

        if (showAfflications.prop("checked")) {
            redrawOldPersistedCrosses(oldPersistedCrosses);
        } 
        else {
            removeOldPersistedCrosses(oldPersistedCrosses);
        }
    });

    $(".old-afflications").click(function(checkbox) {
        console.log("H");
    });

    var ButtonTypeEnum = {
        NOTSET: { name: "Notset", value: 0, enumValue: 0 },
        SMALL: { name: "Small", value: 0, enumValue: 1 },
        MEDIUM: { name: "Medium", value: 4, enumValue: 2 },
        LARGE: { name: "Large", value: 6, enumValue: 3 },
    }

    var undoButton = $('#undoButton');
    var redoButton = $('#redoButton');
    var smallCrossButton = $('#smallCrossButton');
    var largeCrossButton = $('#largeCrossButton');
    var buttonType = ButtonTypeEnum.NOTSET;

    smallCrossButton.click(function () {
        buttonType = ButtonTypeEnum.MEDIUM;
    });

    largeCrossButton.click(function () {
        buttonType = ButtonTypeEnum.LARGE;
    });

    var canvas = document.getElementById('treatmentCanvas'),
    context = canvas.getContext('2d');
    canvas.addEventListener("mousedown", doMouseDown, false);

    canvas.oncontextmenu = function (e) {
        e.preventDefault();
    };

    canvas.onselectstart = function () {
        return false;
    }

    function SetButtonTypeEnum(crossSize) {
        switch (crossSize) {
            case 1:
                return ButtonTypeEnum.SMALL;
            case 2:
                return  ButtonTypeEnum.MEDIUM;
            case 3:
                return buttonType = ButtonTypeEnum.LARGE;
            default:
                return buttonType = ButtonTypeEnum.NOTSET;
        }
    }

    $(document).ready(function () {

        buttonType = ButtonTypeEnum.MEDIUM;

        var form_modified = false;

        //$(window).bind('beforeunload', function () {
        //    $('treatmentModal').modal('show');
        //    return 'Are you sure you want to leave?';
        //});

        $(function() {
            $( "#datepicker" ).datepicker({  maxDate: new Date() });
        });

        $.ajax({
            cache: false,
            type: "GET",
            url: imageUrl,
            contentType: 'application/json',
            dataType: "json",
            success: function (data) {
                imgs = data;
                setCanvasImage(imgs.base64imgage);
                setPersistedCrosses();

            },
            error: function (xhr) {
                alert("Error occurred while loading the image. "
                    + xhr.responseText);
            }
        });


    });

    var setCanvasImage = function (base64Data) {
        var base_image = new Image();
        var img = "data:image/jpg;base64,"
                 + base64Data;

        base_image.onload = new function() {
            base_image.src = img;
        };
        resizeCanvasImage(base_image, canvas, 800, 467);
    };

    function setPersistedCrosses() {
        var persistedCrosses = @Html.Raw(Json.Encode(Model.Treatment.AfflictionAreas));
        @*var oldPersistedCrosses = @Html.Raw(Json.Encode(Model.Treatment.OldAfflications));*@
        redrawPersistedCrosses(persistedCrosses, false);
        //redrawOldPersistedCrosses(oldPersistedCrosses);
    }

    function redrawOldPersistedCrosses(oldPersistedCrosses)
    {
        if (oldPersistedCrosses.length > 0) {
            redrawPersistedCrosses(oldPersistedCrosses, true);
        }
    }

    function removeOldPersistedCrosses(oldPersistedCrosses) {
        if (drawnCrosses.length > 0) {
            $.each(oldPersistedCrosses, function() {
                console.log("LOOOL : " + this.AfflictionAreaId);
                var afflicationId = this.AfflictionAreaId;
                var currentCross;
                var pos = drawnCrosses.map(function(e) { return e.afflictionAreaId; }).indexOf(this.AfflictionAreaId);
                console.log("TULL: " + pos);
                var removeCross = $.grep(drawnCrosses, function(e) {
                    if (e.afflictionAreaId == afflicationId) {
                        currentCross = e;
                    }
                    return e.afflictionAreaId == afflicationId;
                });
                drawnCrosses.splice(pos, 1);
                console.log("HEEEEEEEEER: " + currentCross.afflictionAreaId);

            });

            reDrawImageWithRemainingCrosses();
        }
    }

    //function removeOldPersistedCrosses() {
    //    var eraseCross;
    //    var eraseIndexCross = -1;
    //    var teller = 0;

    //    if (drawnCrosses.length > 0) {
    //        var index;
    //        for (index = 0; index < drawnCrosses.length; ++index) {

    //            //console.log(drawnCrosses[index]);
    //            if (drawnCrosses[index].isOldPersistedAffliction) {
    //                eraseCross = drawnCrosses[index];
    //                eraseIndexCross = index;

    //                if (typeof eraseCross !== 'undefined') {
    //                    drawnCrosses.splice(eraseIndexCross, 1);
    //                    teller++;
    //                };
    //            }
    //        }
    //    }
    //    console.log("Slettet: " + teller);
    //    reDrawImageWithRemainingCrosses();
    //}

    function redrawPersistedCrosses(persistedCrosses, isOldAfflication) {
        if (persistedCrosses.length > 0) {
            $.each(persistedCrosses, function() {
                buttonType = SetButtonTypeEnum(this.CrossSize);
                console.log(this.TreatmentId);
                var crossObject = { mouseXPosition: this.MouseXPosition,
                    mouseYPosition: this.MouseYPosition, crossSize: this.CrossSize,
                    buttonType: buttonType, isPersisted : true, treatmentId: this.TreatmentId,
                    afflictionAreaId : this.AfflictionAreaId, isOldPersistedAffliction: isOldAfflication};


                drawnCrosses.push(crossObject);
            });

            $.each(drawnCrosses, function() {
                drawCross(this.mouseXPosition, this.mouseYPosition, this.buttonType);
            });

        }
    }

    function resizeCanvasImage(img, canvas, maxWidth, maxHeight) {

        var imgWidth = img.width,
            imgHeight = img.height;

        var ratio = 1, ratio1 = 1, ratio2 = 1;
        ratio1 = maxWidth / imgWidth;
        ratio2 = maxHeight / imgHeight;

        if (ratio1 < ratio2) {
            ratio = ratio1;
        }
        else {
            ratio = ratio2;
        }

        var canvasContext = canvas.getContext("2d");
        var canvasCopy = document.createElement("canvas");
        var copyContext = canvasCopy.getContext("2d");
        var canvasCopy2 = document.createElement("canvas");
        var copyContext2 = canvasCopy2.getContext("2d");
        canvasCopy.width = imgWidth;
        canvasCopy.height = imgHeight;
        copyContext.drawImage(img, 0, 0);

        canvasCopy2.width = imgWidth;
        canvasCopy2.height = imgHeight;
        copyContext2.drawImage(canvasCopy, 0, 0, canvasCopy.width, canvasCopy.height, 0, 0, canvasCopy2.width, canvasCopy2.height);


        var rounds = 2;
        var roundRatio = ratio * rounds;
        for (var i = 1; i <= rounds; i++) {

            canvasCopy.width = imgWidth * roundRatio / i;
            canvasCopy.height = imgHeight * roundRatio / i;

            copyContext.drawImage(canvasCopy2, 0, 0, canvasCopy2.width, canvasCopy2.height, 0, 0, canvasCopy.width, canvasCopy.height);

            canvasCopy2.width = imgWidth * roundRatio / i;
            canvasCopy2.height = imgHeight * roundRatio / i;
            copyContext2.drawImage(canvasCopy, 0, 0, canvasCopy.width, canvasCopy.height, 0, 0, canvasCopy2.width, canvasCopy2.height);

        }

        canvas.width = imgWidth * roundRatio / rounds;
        canvas.height = imgHeight * roundRatio / rounds;
        canvasContext.drawImage(canvasCopy2, 0, 0, canvasCopy2.width, canvasCopy2.height, 0, 0, canvas.width, canvas.height);
    }

    function doMouseDown(event) {
        if (event.button === rightButtonClick) {
            doMouseRightClick(event);
        }
        else if (event.button === leftButtonClick) {
            doMouseLeftClick(event);
        }
    }

    function doMouseRightClick(event) {
        var pos = getMousePos(canvas, event);
        var radius = 5;
        var eraseCross;
        var eraseIndexCross = -1;

        if (drawnCrosses.length > 0) {
            var index;
            for (index = 0; index < drawnCrosses.length; ++index) {
                var result = pointInCircle(drawnCrosses[index].mouseXPosition, drawnCrosses[index].mouseYPosition, pos.x, pos.y, radius);

                if (result) {
                    eraseCross = drawnCrosses[index];
                    eraseCross.isPersisted = false;
                    eraseIndexCross = index;
                }
            }
        }

        if (typeof eraseCross !== 'undefined') {
            drawnCrosses.splice(eraseIndexCross, 1);
            removedCrosses.push(eraseCross);

            reDrawImageWithRemainingCrosses();
        };
    }

    function pointInCircle(x, y, cx, cy, radius) {
        var distancesquared = (x - cx) * (x - cx) + (y - cy) * (y - cy);
        return distancesquared <= radius * radius;
    }

    function doMouseLeftClick(event) {
        var pos = getMousePos(canvas, event);
        var x = pos.x;
        var y = pos.y;
        var drawImage = true;
        var index;
        for (index = 0; index < drawnCrosses.length; index++) {
            if (drawnCrosses[index].mouseXPosition == x && drawnCrosses[index].mouseYPosition == y) {
                drawImage = false;
            }
        }

        if (drawImage) {
            drawCross(x, y, buttonType);

            var crossObject = { mouseXPosition: pos.x, mouseYPosition: pos.y,
                crossSize: buttonType.enumValue, buttonType: buttonType, isPersisted : false };

            drawnCrosses.push(crossObject);
        }
    }

    function drawCross(x, y, buttonTypeEnum) {
        context.beginPath();

        context.moveTo(x - buttonTypeEnum.value, y - buttonTypeEnum.value);
        context.lineTo(x + buttonTypeEnum.value, y + buttonTypeEnum.value);

        context.moveTo(x + buttonTypeEnum.value, y - buttonTypeEnum.value);
        context.lineTo(x - buttonTypeEnum.value, y + buttonTypeEnum.value);

        //context.moveTo(x - 4, y - 4);
        //context.lineTo(x + 4, y + 4);

        //context.moveTo(x + 4, y - 4);
        //context.lineTo(x - 4, y + 4);
        context.strokeStyle = "rgb(0,0,255)";
        context.stroke();
    }

    undoButton.click(function () {
        if (drawnCrosses.length != 0) {
            var undoCross = drawnCrosses.pop();

            if (!undoCross.isPersisted) {
                removedCrosses.push(undoCross);

                reDrawImageWithRemainingCrosses();
            } else {
                drawnCrosses.push(undoCross);
            }

        }
    });

    redoButton.click(function () {
        if (removedCrosses.length != 0) {

            var redoCross = removedCrosses.pop();
            drawnCrosses.push(redoCross);

            reDrawImageWithRemainingCrosses();
        }
    });

    function reDrawImageWithRemainingCrosses() {
        setCanvasImage(imgs.base64imgage);
        var index;
        for (index = 0; index < drawnCrosses.length; ++index) {
            var mousePosX = drawnCrosses[index].mouseXPosition;
            var mousePosY = drawnCrosses[index].mouseYPosition;
            drawCross(mousePosX, mousePosY, drawnCrosses[index].buttonType);
        }
    }

    function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
            x: evt.clientX - rect.left,
            y: evt.clientY - rect.top
        };
    }
</script>
